/* Smartphones (portrait and landscape) ----------- */
  #leftpannel{
    width: 0%;
    float: left;
  }

  #rightpannel {
      margin-left: 0px;
      float: right;
  }

  #contactSearchTip, #contactSearchbar {
    width: 95%;
    height: 100%;
  }