/* Desktops ----------- */
  #leftpannel {
    width: 240px;
  }

  #rightpannel {
      margin-left: 240px;
  }

  #puller-btn, #pusher-btn {
    visibility: hidden;
  }

/*   #contactSearchbar {
    height: 25px;
    width: 195px;
  }*/