/* Smartphones (portrait and landscape) ----------- */
@media only all and (max-device-aspect-ratio: 1/1) {
  #leftpannel{
    width: 0%;
    float: left;
  }

  #rightpannel {
      margin-left: 0px;
      float: right;
  }

  #contactSearchTip, #contactSearchbar {
    width: 95%;
    height: 100%;
  }
}