@CHARSET "UTF-8";
@media only screen and (min-width: 1024px) {
	#bodybg-chatroom{
		background-color: white;
	}

	#logout{
		width: 43px;
		height: 48px;
		background-image: url('../icons/powerBtn.png');
		zoom: .6;
	}
	#settings{
		width: 40px;
		height: 40px;
		background-image: url('../icons/settings.png');
		zoom: .8;
	}
	#connectivity{
		width: 33px;
		height: 25px;
		background-image: url('../icons/network.png');
	}


	#bodybg-chatroom{
		width: 100%;
		height: 80%;
		background-color: white;
	}

	#leftpannel{
		float: left;
		position: relative;
		height: 100%;
		width: 240px;
		/*border-right: 1px solid rgba(100, 184, 100, 0.56);*/
		overflow: hidden;
	}
	#leftpannel:after{
		content: '';
		display: block;
		position: absolute;
		width: 1px;
		height: 100%;
		left: 99.5%;
		top: 1px;
		background-color: rgba(100, 184, 100, 0.56);
	}


	#profileinfo{
		position: relative;
		width: 85%;
		height: 10%;
		background-color: white;
		margin: 0 auto;
		margin-top: 10px;
		color: #3A693A;
		text-indent: 15px;
	}

	#profileinfo:after{
		content: "";
		display: block;
		position: relative;
		top: 20px;
		height: 1px;
		width: 100%;
		background: -webkit-gradient(linear, 0 0, 100% 0, from(#FFFFFF), to(#FFFFFF), color-stop(50%, #5B8F4B));
	}

	#profilepic{
		display: block;
		float: left;
		width: 50px;
		height: 50px;
		background-image: url('../icons/profilepic.jpg');
	}

	#profilename{
		position: relative;
		top: 7px;
	}
	#editprofiletext{
		font-size: 12px;
		margin-top: 10px;
	}

	/*contact search bar*/

	#concactsearch{
		display: block;
		margin: 15 auto 8 auto;
		background: rgba(42, 178, 0, 0.69);
		height: 5%;
		width: 95%;
	}

	#concactsearch input{
		border: none;
		height: 30px;
		width: 215px;
		background-color: rgba(0,0,0,0);
		text-indent: 10px;
		color: white;
	}


	#concactsearch span{
		display: inline-block;
		position: relative;
		top: 4px;
		float: right;
		height: 22px;
		width: 28px;
		background-image: url('../icons/searchicon.png')
	}

	#contactscontainer{
		overflow-y: hidden;
		position: absolute;
		width: 95%;
		height: 72%;
	}
	#contactscontainer:hover{
		overflow-y: auto; 
	}
	.contact{
		display: block;
		width: 85%;
		height: 30px;
		margin: 4 auto;
		background-color: rgba(0, 0, 0, 0);
	}
	.contact img{
		float: left;
		margin-right: 10px;
	}
	.contact span{
		margin-top: 8px;
		display: inline-block;
		color: rgba(40, 48, 38, 0.77);
		font-size: 13px;
	}
	#contactoptions{
	    width: 100%;
	    height: 40px;
	    background-color: #B4D3B0;
	    position: absolute;
	    bottom: 0px;
	}

	#rightpannel{
		height: 100%;
		margin-left: 240px;
	}

	#msgcontainer{
		overflow-y: auto;
		height: 93%;
		background-image: url('http://theorydesign.ca/img/bgservices.jpg');
	}

	.recmsg {
		margin-top: 15px;
		display: inline-block;
		position: relative;
		left: 17px;
		min-width: 50px;
		max-width: 70%;
		background: #E08510;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 3px;
		
}
	.recmsg:before {
		content: "";
		position: absolute;
		border-top: 5px solid rgba(229, 86, 86, 0);
		border-right: 10px solid #E08510;
		border-bottom: 5px solid rgba(0, 0, 0, 0);
		margin: 8px 0 0 -10px;
	}

	
	.shareOptionsBar{
		position: absolute;
		width: 90%;
		left: 5%;
		height: 15px;
		overflow-y: hidden;
	}
	.shareOptionsBar .before{
		display: inline-block;
		float: left;
		border-bottom: 15px solid transparent;
		border-right: 10px solid rgba(0, 0, 0, 0.22);
	}

	.shareOptionsBar .midbar{
		display: inline-block;
		width: 85%;
		height: 15px;
		background-color: rgba(0, 0, 0, 0.22);
	}

	.shareOptionsBar .after{
		display: inline-block;
		border-bottom: 15px solid transparent;
		border-left: 10px solid rgba(0, 0, 0, 0.22);
	}

	.textbox{
		color: white;
		line-height: 15px;
		padding: 10px;
		position: relative;
		margin-right: 0px;
		font-size: 14px;
	}

	.deliverystatus{
		float: right;
		display: inline-block;
		height: 15px;
		width: 14px;
		background-image: url('../icons/singlecheck_min.png');
		margin: 0 3 0 5;
		opacity: .6;
	}

	.timestamp{
		display: inline-block;
		float: right;
		margin-left: 35px;
		font-size: 11px;
		font-family: monospace;
		opacity: .6;
	}

	.sentmsg {
		float: right;
		margin-top: 3px; 
		display: inline-block;
		position: relative;
		right: 10px;
		min-width: 50px;
		max-width: 70%;
		background: #2AB200;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 3px;
		
	}

	.sentmsg:before {
		content: "";
		position: absolute;
		right: -10px;
		width: 0;
		height: 0;
		border-top: 5px solid rgba(229, 86, 86, 0);
		border-left: 10px solid #2AB200;
		border-bottom: 5px solid rgba(0, 0, 0, 0);
		margin: 8 0 0 0;
	}

	#createmsgbar{
		height: 7%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.3);
	}

	#attachment{

		background-repeat: no-repeat;
		height: 100%;
		width: 30px;
		background-image: url('../icons/attachmenticon.png');
		background-position-y: 49%;
		float: left;
		margin-left: 15px;
		opacity: 0.5;
	}

	#attachment:hover{
		opacity: 1.0;
	}

	#smiley{
		background-repeat: no-repeat;
		height: 100%;
		width: 25px;
		background-image: url('../icons/smiley.png');
		background-position-y: 49%;
		float: left;
		margin-left: 15px;
		opacity: 0.5;
	}
	
	#smiley:hover{
		opacity: 1.0;
	}

	#sendbutton{
		background-repeat: no-repeat;
		height: 100%;
		width: 30px;
		background-image: url('../icons/send.png');
		background-position-y: 49%;
		float: right;
		margin-right: 20px;
		opacity: 0.5;
	}

	#sendbutton:hover{
		opacity: 1.0;
	}

	#msgtypebar{
		width: 80%;
		float: left;
		height: 100%;
		margin-left: 2%;
	}

	#msgtypebar input{
		width: 100%;
		border: none;
		height: 81%;
		margin-top: .5%;
		background-color: rgba(255, 255, 255, 0);
		border-radius: 6px;
		border-bottom: 2px solid rgba(34, 153, 175, 0.73);
	}


	/*Scroll bar*/
	/* design scrollbar */

	 ::-webkit-scrollbar{
	       width: 10px;
	 } /* this targets the default scrollbar (compulsory) */

	 ::-webkit-scrollbar-track {
	      background-color: rgba(0, 0, 0, 0);
	} /* the new scrollbar will have a flat appearance with the set
	background color */
	::-webkit-scrollbar-thumb {
	      background-color: rgba(25, 163, 228, 0.32);
	} /* this will style the thumb, ignoring the track */
	::-webkit-scrollbar-button {
	      background-color: rgba(124, 41, 41, 0);
	} /* optionally, you can style the top and the bottom buttons (left and
	right for horizontal bars) */
	::-webkit-scrollbar-corner {
	      background-color: rgba(124, 41, 41, 0);
	} /* if both the vertical and the horizontal bars appear, then perhaps
	the right bottom corner also needs to be styled */

}
