@CHARSET "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'lato', serif;
	vertical-align: baseline;
}

input[type="text"], input[type="password"], textarea, select {
    outline: none;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=checkbox] {
	visibility: hidden;
}

.clearfix:after {
	clear: both;
	display: block;
	content: " ";
	height: 0px;
	visibility: hidden;
}



body{
  background-color:#2aB200;
  font-size: 12px;
}

#master{
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #2aB200;
  border-color: rgba(255, 255, 255, 0.0);
  overflow: hidden;
}

#header{
  height:20%;
  background-color:#2aB200;
  overflow: hidden;
}

#bannerText{
  display: inline-block;
  color: rgba(255, 255, 255, 0.82);
  font-family: 'Anton' sans-serif;
  position: relative;
  top: 40%;
  left: 10%;
}

#bannerText:after{
  content: '';
  position: absolute;
  background: white;
  background: -webkit-linear-gradient(left, #2AB200, white, #2AB200);
  background: -moz-linear-gradient(left, #2AB200, white, #2AB200);
  background: -o-linear-gradient(left, #2AB200, white, #2AB200);
  left: 0px;
}

#bannerText span{
  position: absolute;
  text-align: right;
  -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out;
  left: 0px;
}

#bannerText span:hover{
  color: white;
  text-shadow: rgba(255, 255, 255, 0.49) 0px 0px 4px;
}

#icons{
  top: 40%;
  right:10%;
  position: relative;
  float: right;
}

.icon{
  margin-left:20px;
  right:25px;
  position: relative;
  float: right;
  cursor: pointer;
}

.icon:hover{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
}

#notify{
  position: absolute;
  height: 50px;
  width: 250px;
  background-color: rgba(83, 83, 83, 0.76);
  left: 50%;
  margin-left: -125px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 0px;
  display: none;
  z-index: 101;
}

#notify p{
  color: rgba(255, 255, 255, 0.95);
  font-size: 1em;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
}

#signup{
  position: relative;
  float: right;
  height: 30px;
  width: 36px;
  background-image: url('../icons/signup1.png');
  -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out;
}

/*tooltip for signup icon*/
div.signuptooltip {
  position: relative;
  display: inline;
}
div.signuptooltip span {
  position: absolute;
  bottom:13px;
  left:-30px;
  z-index: 0;
  width:100px;
  color: rgba(255,255,255,.65);
  background: #2AB200;
  border: 1px solid rgba(255,255,255,.35);
  height: 28px;
  line-height: 30px;
  text-align: center;
  font-size: 1em;
  visibility: visible;
  opacity:0;
  border-radius: 1px;
}
div.signuptooltip span:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 0;
  height: 0;
  border-top: 9px solid rgba(255, 255, 255, 0.4);
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
div.signuptooltip span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  margin-top: -1px;
  width: 0;
  height: 0;
  border-top: 9px solid #2aB200;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}

#headsep{
  height: 1px;
  border: 0;
  background: white;
  background: -webkit-linear-gradient(left, #2AB200, white, #2AB200);
  background: -moz-linear-gradient(left, #2AB200, white, #2AB200);
  background: -o-linear-gradient(left, #2AB200, white, #2AB200);
}

#bodybg{
  height:60%;
}

/* Login form starts here */
#loginform{
  position: absolute;
  width: 322px;
  top: 50%;
  left: 50%;
  height: 175px;
  float: left;
  color: white;
  font-size: 1.3em;
  visibility:hidden;
  opacity:0;
}

.loginFormElementWrapper{
  margin-top: 5px;
}
#loginheadertext{
  position: relative;
  bottom: 25px;
  font-size: 2em;
  font-family: 'Anton' sans-serif;
  opacity: .5;
}

#loginheadertext span{
  display: block;
  height: 4px;
  width: 100%;
  background-color: white;
}

.loginGuideText{
  display: inline-block;
  margin-right: 10px;
  width: 82px;
}
.loginInputFieldWrapper{
  display: inline-block;
  width: 230px;
  border-bottom: 1px solid white;
}
.loginInputFieldWrapper input{
  text-indent: 10px;
}


.inputfields{
  position:relative;
  background-color: transparent;
  border: none;
  width: 100%;
  color: white;
  font-size: inherit;
  z-index: 10
}
.inputFieldTip{
  position: absolute;
  left: 109px;
  font-size: .7em;
  opacity: .4;
  margin-top: 10;
  z-index: 0
}
.inputFieldTip4reg{
  left: 15px;
}
#countryField{
  width: 175px;
}
#loginCC{
  display: none;
  bottom: 33px;
  right: 20px;  
}
.countrySuggBox{
  position: absolute;
  width: 230px;
  background-color: rgba(0, 0, 0, 0.75);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 9;
  padding: 9 0;
  background-color: rgba(0, 0, 0, 0.75);
  background: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0.65));
  background: -moz-linear-gradient(top, #000000, rgba(0, 0, 0, 0.65));
  background: -o-linear-gradient(top, #000000, rgba(0, 0, 0, 0.65));
  max-height: 150px;
  overflow-y: auto;
  display: none;
}
.countrySuggBoxHomescreen{
  padding-bottom: 15px;
}
.suggestedElem{
  font-size: .7em;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.79);
  cursor: pointer;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
}
#selectedCountry{
  background-color: rgba(33, 197, 238, 0.31);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.77);
}
.suggestedElem p{
  margin-left: 10px;
  margin: 0 27 0 10;
}
.suggestedElem:hover{
  background-color: rgba(33, 197, 238, 0.31);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.77);
}

/* username login tooltip*/

.loginformFieldTooltips{
  position: absolute;
  margin-top: 5px;
  font-size: 1em;
  width: 105px;
  opacity: .6;
  display: none;
}
#userfield:hover ~ #usernameLoginTooltip{
  display: inline-block;
}
#passfield:hover ~ #passLoginTooltip{
  display: inline-block;
}

/* SQUARED TWO */
/*outer box*/
.squaredTwo {
    width: 16px;
    height: 16px;
    background-color: white;
    position: relative;
    top: -28px;
    left: 125px;
    display: inline-block;
    display: none; /* alpha:n/a */
}
/*inner box*/
.squaredTwo label {
    cursor: pointer;
    position: absolute;
    width: 12px;
    height: 12px;
    left: 2px;
    top: 2px;
    background-color:#2ab200;
}
/*arrow*/
.squaredTwo label:after {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content:'';
    position: absolute;
    width: 5px;
    height: 3px;
    background: transparent;
    top: 2px;
    left: 2px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.squaredTwo label:hover::after {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}
.squaredTwo input[type=checkbox]:checked + label:after {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.squaredTwo p{
  width: 80px;
  font-size: .6em;
  position: relative;
  top: -17px;
  left: 25px;
}

#forgotpassword{
  position: relative;
  width:110px;
  top: -18px;
  left: 126px;
  font-size: .6em;
}


#loginsubmit{
  position: relative;
  top: 10px;
  height: 40px;
  width: 105px;
  border: none;
  background-color: white;
  color: #2aB200;
  font-size: inherit;
  font-weight: bolder;
  border-radius: 3px;
  outline: none;
  -webkit-transition: all .1s ease-in-out; 
  -moz-transition: all .1s ease-in-out;
}
#loginsubmit:hover{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
}
/* Login form ends here */

/* login button */
#loginbutton{
  display: block;
  cursor: pointer;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-image: url('../icons/logo_min.png');
}

/*scale up the whatsaap icon on hover*/
#loginbutton{ -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; }
#loginbutton:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

/* tooltip for loginbutton*/
div.logintooltips {
  position: relative;
  top: 50%;
  display: block;
  margin-top: -50px;
  float: left;
  left: 50%;
  margin-left: -70px;
}
div.logintooltips span {
  position: relative;
  left: 126px;
  float: right;
  top: -60px;
  width:135px;
  color: rgba(255,255,255,.65);
  background: #2AB200;
  border: 1px solid rgba(255,255,255,.35);
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1em;
  visibility: visible;
  opacity:0;
 }
div.logintooltips span:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -12px;
  width: 0;
  height: 0;
  border-right: 16px solid rgba(255,255,255,.35);
  border-top: 11px solid transparent;
  border-bottom: 12px solid transparent;
}
div.logintooltips span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -12px;
  left: -14px;
  width: 0;
  height: 0;
  border-right: 16px solid #2AB200;
  border-top: 11px solid transparent;
  border-bottom: 12px solid transparent;
}

/* Registration form starts here */
#regform{
  position: absolute;
  top: 50%;
  float: left;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  width: 322px;
  color: white;
  font-size: 1.3em;
}

#regheadertext{
  position: relative;
  bottom: 25px;
  font-size: 2em;
  font-family: 'Anton' sans-serif;
  opacity: .5;
}

#regheadertext span{
  display: block;
  height: 4px;
  width: 100%;
  background-color: white;
}
.regFormElementWrapper{
  height: 30px  
}
#regInputCountry{
  width: 170px;
}
.regGuideText{
  display: inline-block;
  font-size: inherit;
  opacity: .8;
  margin-right: 10px; 
  width: 82px;
}
.regInputFieldWrapper{
  display: inline-block;
  width: 230px;
  border-bottom: 1px solid white;
  position: relative;
  top: -7px;
}

.regInputFieldWrapper .inputfields{
  width: 100%;
  text-indent: 10px;
}

.regCountryInfo{
  height: 23px;
  width: 35px;
  position: absolute;
  right: 6px;
  bottom: 32px;
  background-repeat: no-repeat;
  opacity: .8;
}
.countryReady{
  background-image: url('../icons/check_20x20.png');
  background-position: 9 2;
}
.countryNotReady{
  background-image: url('../icons/x-icon_23x23.png');
  background-position: 7 2;
}

/* alpha:n/a */
#regFlag{
  right: 4px;
  top: 0px;
}

#regCC{
  display: none;
  width: 47px;
}

#regsubmitbutton{
  position: relative;
  top: 10px;
  height: 40px;
  width: 105px;
  border: none;
  background-color: white;
  color: #2aB200;
  font-size: inherit;
  font-weight: bolder;
  border-radius: 3px;
  outline: none;
  -webkit-transition: all .1s ease-in-out; 
  -moz-transition: all .1s ease-in-out;
}

#regsubmitbutton:hover{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
}

#uid{
  position:relative;
  top:50px;
  width:200px;
  height:35px;
  background-color:#ffffff;
  border-radius:5px;
}
#uid:after{
  content:"";
  display:block;
  position:relative;
  top:-10px;
  left:185px;
  width:0px;
  height:0px;
  border-top:50px solid #2aB200;
  border-left:50px solid #2aB200;
  border-bottom:50px solid #2aB200;
  border-right:50px solid #2aB200;
  border-radius:50px;
  opacity:1;
  z-index:999;
}

#pass{
  position:relative;
  top:60px;
  width:200px;
  height:35px;
  background-color:#ffffff;
  border-radius:5px;
}

#errorMsgBox{
  background-color: rgba(255, 255, 255, 0.19);
  position: absolute;
  bottom: 21%;
  margin-left: 50%;
  border-radius: 2px;
  visibility: hidden;
  z-index: 10;
}
#errorMsgBoxArrow{
  position: absolute;
  right: -20px;
  height: 0px;
  top: 15px;
  width: 0px;
  border-left: 20px solid rgba(255, 255, 255, 0.19);
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}
#closeErrMsgBox{
  position: absolute;
  left: -9px;
  top: -9px;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url('../icons/close.png');
  background-repeat: no-repeat;
  background-position: 3px 3px;
  background-color: #51bf30;
  border-radius: 11px;
  border: 2px solid rgba(255, 255, 255, 0.17);
}
#errMsg{
  display: block;
  color: rgb(255, 249, 249);
  font-size: .8em;
  line-height: 20px;
}

#footsep{
  height: 1px;
  border: 0;
  background: white;
  background: -webkit-linear-gradient(left, #2AB200, white, #2AB200);
  background: -moz-linear-gradient(left, #2AB200, white, #2AB200);
  background: -o-linear-gradient(left, #2AB200, white, #2AB200);
}

#footer{
  height: 20%;
}

#whatsapponwebText{
  color: rgba(255, 255, 255, 0.66);
  font-size: 1.4em;
  font-family: 'Anton' sans-serif;
  position: relative;
  top: 20px;
  text-align: center;
}
#whatsapponwebText span{
  position: absolute;
  font-size: .8em;
  font-weight: bolder;
  margin: -5 0 0 5;
  height: 20px;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  text-align: center;
  line-height: 22px;
  border: 1px solid rgba(255, 255, 255, 0);
  cursor: pointer;
}
#whatsapponwebText span:hover{
  box-shadow: 0px 0px 7px white;
  font-size: .9em;
}

#copyright{
  color: rgba(255, 255, 255, 0.71);
  font-size: .7em;
  text-align: center;
  position: relative;
  bottom: -39%;
  width: 100%;
}

#feedback{
  display: none;
  height: 25px;
  width: 90px;
  float: right;
  background-color: rgba(255, 255, 255, 0.81);
  position: relative;
  bottom: -12%;
  margin-right: 50px;
  border-radius: 3px;
}
#feedback p{
  position: absolute;
  padding: 4.5px;
  text-indent: 5px;
  font-size: 1em;
  color: rgb(47, 92, 12);
}

#feedback:hover{
  box-shadow: 0px 0px 10px #F1F0F0;
}
#feedback:active{
  /*-webkit-transform: scale(0.95); */
  box-shadow: 0px 0px 0px rgba(0,0,0,0); 
}

#overlay{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.86);
  visibility: hidden;
  z-index: 100;
}

/*user  varification temporary*/
#varifyWindow{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -200px;
  height: 400px;
  width: 800px;
  background-color: #2ab200;
  z-index: 101;
  opacity: 0;
  display: none;
}
#varifyWindowContainer{
  position: relative;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  top: 20px;
}
#varifyWindowContainerHeader{
  position: relative;
  color: rgba(255, 255, 255, 0.46);
  font-size: 1.3em;
  font-family: 'Anton' sans-serif;
  opacity: 0;
  }
#varifyWindowContainerHeader:after{
  content: '';
  display: block;
  height: 6px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.37);
  margin-top: 8;
}
#progBarBg{
  margin: 0 auto;
  margin-top: 40px;
  width: 71%;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.28);
  opacity: 0;
}
.progStepDot{
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #65C747;
  border-radius: 10px;
  position: relative;
  top: -8px;
  margin-left: 183px;
}
#fstStop{
  left: 15px;
  margin-left: 0;
}
.innerDisk{
  position: absolute;
  top: 5px;
  left: 4px;
  display: block;
  height: 11px;
  width: 11px;
  background-color: rgb(241, 241, 241);
  /*background-image: url('../icons/check.png');*/
  border-radius: 10px;
  opacity: 0;
}

/*now the dialouge boxes*/
.stpDlgBox{
  position: absolute;
  height: 200px;
  width: 330px;
  top: 55px;
  left: -120px;
  background-color: rgba(255, 255, 255, 0.13);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.stpDlgBox:after{
  content: '';
  position: absolute;
  left: 115px;
  top: -30;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid #45bb21;
  z-index: 5;
}
.verDialougeContainer{
  opacity: 0;
}
.nextStpArrow{
  position: absolute;
  border-left: 25px solid rgba(255, 255, 255, 0.66);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  bottom: 0px;
  right: 0px;
  margin: -4 4 6 0;
  z-index: 10;
}
.verHeader{
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Anton' sans-serif;
  margin: 10 0 5 9;
}

.verText{
  padding: 19px;
  color: rgba(255, 255, 255, 0.69);
  font-size: .7em;
  word-wrap: break-word;
  line-height: 17px;
}
.verText2{
  padding: 12px;
}
/*for first step dialouge specifically*/

.verStpLeft{
  display: inline-block;
  height: 82%;
  width: 50%;
}
.verStpLeftTop{
  width: 100%;
  height: 56%;
}
.verStpLeftTop:after{
  content: '';
  height: 1px;
  width: 50%;
  position: absolute;
  left: 1px;
  bottom: 35%;
  background-color: rgba(255, 255, 255, 0.31);
  background: white;
  background: -webkit-linear-gradient(left, #45bb21, white, #45bb21);
  background: -moz-linear-gradient(left, #45bb21, white, #45bb21);
  background: -o-linear-gradient(left, #45bb21, white, #45bb21);
}
#verSelectedIcon{
  position: absolute;
  height: 25px;
  width: 25px;
  opacity: .8;
  left: 95px;
  bottom: 11px;
}

.verStpRight{
  display: inline-block;
  float: right;
  height: 82%;
  width: 48%;
}
#verStp1Right p{
  color: white;
  padding: 7;
  font-size: 1.1em;
}

.verStpRight:after{
  content: '';
  position: absolute;
  height: 80%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.31);
  background: white;
  background: -webkit-linear-gradient(top, #45bb21, white, #45bb21);
  background: -moz-linear-gradient(top, #45bb21, white, #45bb21);
  background: -o-linear-gradient(top, #45bb21, white, #45bb21);
}
.verMethodSelectionWrapper{
  width: 90%;
  height: 30px;
  float: right;
  background-color: rgba(255, 255, 255, 0.11);
  margin-top: 15px;
  position: relative;
  top: 20px;
  left: -8px;
  opacity: .5
}
.verMethodSelectionWrapper:hover{
  opacity: 1;
}
.verMethodSelectionWrapper:active{
  -webkit-transform: scale(0.95);
}


.selectVerMethodCheckBox:after{
  content: '';
  position: absolute;
  height: 10;
  width: 10;
  top: 8px;
  right: 8;
  display: block;
  border: 2px solid rgba(255, 255, 255, 0.31);
}
.selectVerMethodCheckBox{
  height: 100%;
  width: 30px;
  float: right;
  /*background-image: url('../icons/check_20x20.png');*/
  background-repeat: no-repeat;
  background-position: 6 1;
  opacity: .8;
}

.selectIcons{
  margin: 2.3 9 0 0;
  height: 25px;
  width: 25px;
  float: right;
  opacity: .8;
}
#selectIconsSMS{
  background-image: url('../icons/msg2_min.png');
}
#selectIconsVOICE{
  background-image: url('../icons/voiceCall_min.png');
}
.selectText{
  margin-left: 20px;
  height: 100%;
  width: 65px;
  text-indent: -6px;
}


#verStp2LeftTop:after{
  content: '';
  bottom: 42%;
}
#verStp2Right{
  display: inline-block;
  position: absolute;
  width: 48%;
  margin-top: 15px;
}
#verStp2Right p{
  color: white;
  font-size: 0.8em;
  text-indent: 20px;
}
#verCodeField{
  outline: none;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.24);
  background-color: rgba(255, 255, 255, 0.19);
  width: 80%;
  height: 30px;
  margin: 15 0 0 20;
  text-indent: 10px;
  font-size: 1.2em;
  color: white;
}
#verCodeOR{
  position: absolute;
  margin: 55 0 0 72;
  font-size: 1em;
  color: white;
}
#verResendCode{
  position: absolute;
  height: 30px;
  width: 80px;
  background-color: rgba(255, 255, 255, 0.82);
  margin: 73 0 0 40;
  border-radius: 3px;
}
#verResendCode p{
  color: rgb(29, 122, 29);
  font-size: 1.1em;
  padding: 6px;
  text-indent: 2px;
}
#verResendCode:hover{
  -webkit-transform: scale(1.05);
}
#verResendCode:active{
  -webkit-transform: scale(1);   
}

#verStp3Icon{
  display: block;
  height: 100px;
  width: 100px;
  margin: 15 auto 0 auto;
  background-image: url('../icons/smily_white_min.png');
  opacity: .6;
}
#verStp3Text{
  color: white;
  width: 240px;
  font-size: 0.8em;
  margin: 15 auto 0 auto;
}

#stpDlgBox1{
  display: none;
}
/*2nd dialouge box*/
#stpDlgBox2{
  display: none;
}
#stpDlgBox3{
  display: none;
}

/*1st dialouge box animation styling*/
.verLoading{
  display: none;    
  height: 128px;
  width: 128px;
  margin: 0 auto;
  background-image: url('../icons/newloading.gif');
  opacity: .6;
}
.verLoading span{
  display: block;
  width: 332px;
  position: relative;
  top: 140px;
  left: -102px;
  color: white;
}
.verLoading span p{
  text-align: center;
}

.verFaildMsgRef{
  display: none;
  height: 90px;
  width: 90px;
  margin: 23 auto 0 auto;
  background-image: url('../icons/reload_min.png');
  border: 1px solid rgba(255, 255, 255, 0.27);
  background-color: rgba(255, 255, 255, 0.24); 
  opacity: .9;
}
.verFaildMsgRef:hover{
  -webkit-transform: scale(1.03);
}
.verFaildMsgRef:active{
  -webkit-transform: scale(0.97);
}
.verFaildMsgText{
  display: none;
  text-align: center;
  color: white;
  font-size: 13px;
  margin: 20 0 0 0;
}


/* release window */
#master_release{
  width: 100%;
  height: 100%;
} 
#releaseLeft{
  display: inline-block;
  height: 100%;
  width: 20%;
  overflow-x: hidden;
  background-color: #59C238;
}
.RC{
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  text-indent: 35px;
  line-height: 30px;
  font-family: "Lato" sans-serif;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 17PX;
}
#alphaMenuItem{
  margin-top: 40px;
}
.RC:hover{
  background-color: #2AB200;
  
}
#releaseRight{
  display: inline-block;
  width: 79%;
  height: 100%;
}
#releaseHeader{
  position: absolute;
  color: rgba(255, 255, 255, 0.84);
  margin: 30 0 0 30;
  font-size: 1.7em;
  width: 40%;
}
#releaseHeader:after{
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background: white;
  background: -webkit-linear-gradient(left, #2AB200, white, #2AB200);
  background: -moz-linear-gradient(left, #2AB200, white, #2AB200);
  background: -o-linear-gradient(left, #2AB200, white, #2AB200);
  top: 32px;
  left: -25px;
}
#releaseVersionText{
  width: 66%;
  height: 280px;
  top: 80px;
  left: 31%;
  position: absolute;
  color: rgba(255, 255, 255, 0.82);
  font-size: 0.9em;
  overflow-y: auto;
}
/* prompt */
#prompt{
  position: absolute;
  height: 100px;
  width: 300px;
  background-color: #2AB200;
  border: 1px solid rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -150px;
  border-radius: 5px;
  z-index: 999;
  display: none;
}
#promptIconMsgWrapper{
  height: 65px;
}
#promptIcon{
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.23);
  background-image: url('../icons/qmark_min.png');
  background-position: 7 6;
  background-repeat: no-repeat;
  opacity: .4;
  border-radius: 25px;
  position: relative;
  top: 10px;
  left: 10px;
}
#prompMsg{
  display: inline-block;
  width: 180px;
  height: 50px;
  position: relative;
  top: -30px;
  left: 10px;
}
#prompMsg p{
  color: white;
  font-size: 0.75em;
  text-align: center;
  position: relative;
  top: 30px;
}
.promptButttons{
  color: white;
  display: inline-block;
  margin-left: 50;
  height: 25px;
  width: 56px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.24);
  cursor: pointer;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
}
.promptButttons:hover{
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.54);
}
.promptButttons:active{
  -webkit-transform: scale(0.95); 
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0);
}
.promptButttons p{
  text-indent: 11px;
  padding: 3px;
}
#promptNo P{
  text-indent: 13px;
}
#promptNo{
  margin-left: 85px;
}
/* Registration form ends here */
.iconIn{
	display: inline-block;
	display: inline-block;
	height: 30px;
	width: 30px;
	margin-right: 15px;
}
#logout{
	background-image: url('../icons/out_min.png');
}
#settings{
	background-image: url('../icons/settings_min.png');
}

.tooltipIn{
	display: none;
}

#leftpannel{
	float: left;
	position: relative;
	height: 100%;
	overflow: hidden;
}
#leftpannel:after{
	content: '';
	display: block;
	position: absolute;
	width: 1px;
	height: 100%;
	left: 99.5%;
	top: 1px;
	background-color: rgba(100, 184, 100, 0.56);
}

#pusher-btn{
	width: 30px;
	height: 30px;
	float: right;
	background-color: #fb7c7c;
	cursor: pointer;
	z-index: 10;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	background-image:  url('../icons/slide_left.png')
}

#puller-btn{
	width: 30px;
	height: 30px;
	float: left;
	position: fixed;
	background-color: #fb7c7c;
	z-index: 10;
	cursor: pointer;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	background-image:  url('../icons/slide_right.png')
}

#profileinfo{
	position: relative;
	width: 85%;
	height: 10%;
	background-color: white;
	margin: 0 auto;
	margin-top: 10px;
	color: #3A693A;
	text-indent: 15px;
}

#profileinfo:after{
	content: "";
	display: block;
	position: relative;
	top: 20px;
	height: 1px;
	width: 100%;
	background: #5B8F4B;
    background: -webkit-linear-gradient(left, white, #5B8F4B, white);
    background: -moz-linear-gradient(left, white, #5B8F4B, white);
    background: -o-linear-gradient(left, white, #5B8F4B, white);
}

#profilepic{
	display: block;
	float: left;
	width: 50px;
	height: 50px;

}
#profilepic p{
	font-family: 'Sigmar One', cursive;
	color: white;
	font-size: 55px;
	position: relative;
	text-indent: -2px;
	top: 0px;
	left: 0px;
}

#profilename{
	position: relative;
	top: 7px;
}
#editprofiletext{
	font-size: 9px;
	margin-top: 10px;
	cursor: pointer;
}

/*contact search bar*/

#concactsearch{
	display: block;
	margin: 15 auto 8 auto;
	background: rgba(42, 178, 0, 0.69);
	height: 5%;
	width: 95%;
}

#concactsearch input{
	border: none;
	background-color: rgba(0,0,0,0);
	text-indent: 10px;
	color: white;
	padding-bottom: 1px;
}


#concactsearch #searchIcon{
	display: inline-block;
	position: relative;
	top: 2px;
	float: right;
	height: 22px;
	width: 28px;
	background-image: url('../icons/searchicon.png')
}
#contactSearchTip{
	position: absolute;
	width: 100px;
	height: 25px;
	margin: 0;
	left: 10.5%;
	font-size: 12px;
	line-height: 25px;
	color: rgba(255, 255, 255, 0.84);
}

#contactscontainer{
	overflow-y: hidden;
	position: absolute;
	width: 95%;
	height: 72%;
}
#contactscontainer:hover{
	overflow-y: auto; 
}
.contact{
	display: block;
	width: 100%;
	height: 30px;
	margin: 3 auto;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	background-color: rgba(0, 0, 0, 0);
}
.contact #contactImage{
	height: 30px;
	width: 30px;
	float: left;
	background-color: transparent;
	margin: 0 10 0 17;
}
.contact #contactImage p{
	font-family: 'Sigmar One', cursive;
	color: white;
	font-size: 32px;
	position: relative;
	top: 0px;
	left: 0px;
}
.contact span{
	margin-top: 8px;
	display: inline-block;
	color: rgba(40, 48, 38, 0.77);
	font-size: 13px;
	max-width: 130px;
	height: 13px;
	overflow: hidden;
}

.contact #unreadMsgCnt{
	height: 23px;
	width: 23px;
	background-color: rgb(228, 97, 97);
	border-radius: 15px;
	font-size: 14px;
	text-align: center;
	padding: 1px;
	line-height: 22px;
	color: rgba(255, 255, 255, 0.92);
	float: right;
	position: relative;
	top: -5.5px;
	right: 3px;
	font-weight: 700;
	display: none
}

.contact #editContactButton{
	color: rgba(255, 255, 255, 0.8);
	font-size: 11px;
	float: right;
	line-height: 0px;
	margin: 15 10 0 0;
	display: none;
}
.contact #editContactButton:hover{
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.41);
	color: white;
}

.contact:hover{
	background-color: rgba(209, 247, 209, 0.64);
}
#contactoptions{
    width: 100%;
    height: 40px;
    background-color: #B4D3B0;
    position: absolute;
    bottom: 0px;
}
#manualAddContact{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin-left: 10px;
	background-image: url('../icons/signup1.png');
	background-repeat: no-repeat;
	background-position: -1 6;
}
#rightpannel{
	height: 100%;
}

#msgcontainer{
	overflow-y: auto;
	height: 90%;
	background-image: url('http://theorydesign.ca/img/bgservices.jpg');
}

.recmsg:before {
	content: "";
	position: absolute;
	border-top: 5px solid rgba(229, 86, 86, 0);
	border-right: 10px solid #E08510;
	border-bottom: 5px solid rgba(0, 0, 0, 0);
	margin: 8px 0 0 -10px;
}


.shareOptionsBar{
	position: relative;
	top: -16px;
	z-index: 2;
	height: 15px;
	overflow-y: hidden;
}

.shareOptionsBar_left{
	margin-left: 10px;
}

.shareOptionsBar .before{
	display: inline-block;
	float: left;
	border-bottom: 15px solid transparent;
	border-right: 10px solid rgba(0, 0, 0, 0.22);
}

.shareOptionsBar .midbar{
	display: inline-block;
	width: 85%;
	height: 15px;
	background-color: rgba(0, 0, 0, 0.22);
}

.shareOptionsBar .after{
	display: inline-block;
	border-bottom: 15px solid transparent;
	border-left: 10px solid rgba(0, 0, 0, 0.22);
}

.textbox{
	color: white;
	line-height: 1.2em;
	padding: 10px;
	position: relative;
	margin-right: 0px;
	font-size: 0.9em;
	text-align: justify;
}

#deliverystatus{
	background-image: url('../icons/singlecheck.png');
	display: inline-block;
	width: 20px;
	height: 20px;
	float: right;
	zoom: .7;
	margin: -5 5 0 2;
}

#timestamp{
	display: inline-block;
	float: right;
	font-size: 10px;
	opacity: .6;
	margin-bottom: 2px;
	margin-right: 5px;
	color: white;
	position: relative;
	top: -3px;
}

#mother_div{
	min-width: 50px;
	max-width: 70%;
}

.mother_div_right{
	right: 10px;
	position: relative;
}

.recmsg {
	background: #E08510;
	left: 10px;
}

.sent_recv{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	z-index: 9;
	margin: 1 0;
	min-width: 150px;
}

.sentmsg {
	background: #2AB200;
}

.sentmsg:before {
	content: "";
	position: absolute;
	right: -10px;
	width: 0;
	height: 0;
	border-top: 5px solid rgba(229, 86, 86, 0);
	border-left: 10px solid #2AB200;
	border-bottom: 5px solid rgba(0, 0, 0, 0);
	margin: 8 0 0 0;
}

#createmsgbar{
	height: 40px;
	background-color: rgba(0, 0, 0, 0.3);
	position: relative;
	top: 10%;
	margin-top: -40px;
}

#attachment{
	background-repeat: no-repeat;
	height: 100%;
	width: 30px;
	background-image: url('../icons/attachmenticon.png');
	background-position: 0% 49%;
	float: left;
	margin-left: 15px;
	opacity: 0.5;
}

#attachment:hover{
	opacity: 1.0;
}

#smiley{
	background-repeat: no-repeat;
	height: 100%;
	width: 25px;
	background-image: url('../icons/smiley.png');
	background-position: 0% 49%;
	float: left;
	margin-left: 15px;
	opacity: 0.5;
}

#smiley:hover{
	opacity: 1.0;
}

#sendbutton{
	background-repeat: no-repeat;
	height: 100%;
	width: 30px;
	background-image: url('../icons/sendArrow.png');
	background-position: 0% 49%;
	float: right;
	margin-right: 3%;
	opacity: 0.5;
}

#sendbutton:hover{
	opacity: 1.0;
}

#mediaDisplay {
	background-color: rgba(179, 179, 179, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 1000;
	display: none;
	padding: 10px;
	border-radius: 5px;
	border: 1px;
	width: 200px;
	height: 40px;
	max-width: 500px;
	max-height: 500px;
}
#mediaDisplay #displayContent{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border-radius: 5px;
}
#mediaDisplay .mediaLoading{
	position: absolute;
	top: 20;
	left: 80;
}
#mediaDisplay span{
	cursor: pointer;
	z-index: 2;
}

#mediaDisplay img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	max-width: 500px;
	max-height: 500px;
}
.imgThumb{
	min-height: 130px;
	min-width: 130px;
	cursor: pointer;
}
#msgtypebar{
	width: 80%;
	float: left;
	height: 100%;
	margin-left: 2%;
}

#msgtypebar input{
	width: 100%;
	border: none;
	height: 81%;
	margin-top: .5%;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 6px;
	border-bottom: 2px solid rgba(34, 153, 175, 0.73);
}

/*Scroll bar*/
/* design scrollbar */

 ::-webkit-scrollbar{
       width: 10px;
 } /* this targets the default scrollbar (compulsory) */

 ::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0);
} /* the new scrollbar will have a flat appearance with the set
background color */
::-webkit-scrollbar-thumb {
      background-color: rgba(25, 163, 228, 0.32);
} /* this will style the thumb, ignoring the track */
::-webkit-scrollbar-button {
      background-color: rgba(124, 41, 41, 0);
} /* optionally, you can style the top and the bottom buttons (left and
right for horizontal bars) */
::-webkit-scrollbar-corner {
      background-color: rgba(124, 41, 41, 0);
} /* if both the vertical and the horizontal bars appear, then perhaps
the right bottom corner also needs to be styled */



#modal{
	position: absolute;
	display: block;
	height: 400;
	width: 600;
	background-color: rgba(42, 178, 0, 1);
	top: 50%;
	left: 50%;
	margin: -200px 0px 0px -300px;
	border: 1px solid rgba(255, 255, 255, 0.36);
	box-shadow: 0 0 23px rgba(255, 255, 255, 0.12);
	visibility: hidden;
	z-index: 101;
}
#modalCloseButton{
	background-image: url('../icons/cross.png');
	background-repeat: no-repeat;
	background-position: 4 4;
	border: 2px solid transparent;
	height: 20;
	width: 20;
	position: absolute;
	right: 8px;
	top: 8px;
}

#modalCloseButton:hover{
	background-color: rgba(255, 255, 255, 0.18);
	border: 2px solid rgba(255, 255, 255, 0.35);
	border-radius: 12px;
}
#modalMenuBar{
	float: left;
	width: 170px;
	height: 100%;
	background-color: #59C238;
	color: white;
}
.modalMenuItem{
	position: relative;
	top: 20px;
	width: 100%;
	height: 40px;
}
/*.modalMenuItem:after{
	content: '';
	position: relative;
	left: 14px;
	top: -85%;
	display: inline-block;
	float: right;
	border-left: 15px solid #59c238;
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	visibility: hidden;
}*/
.modalMenuItem p{
	padding: 13;
	text-indent: 15;
}
.modalMenuItem:hover {
	background-color: #2AB200;
	z-index: 1;
	width: 101%;
}
.selectedModalMenuItem{
	background-color: #2AB200;
	z-index: 1;
	width: 101%;
}
.selectedModalMenuItem:before{
	content: '';
	position: absolute;
	width: 99%;
	height: 1px;
	background-color: white;
	background: -webkit-linear-gradient(left, transparent, white, white);
	background: -moz-linear-gradient(left, transparent, white, white);
	background: -o-linear-gradient(left, transparent, white, white);
	opacity: .6;

}
.selectedModalMenuItem:after{
	content: '';
	position: absolute;
	margin: -3 0 0 0;
	width: 99%;
	height: 1px;
	background-color: white;
	background: -webkit-linear-gradient(left, transparent, white, white);
	background: -moz-linear-gradient(left, transparent, white, white);
	background: -o-linear-gradient(left, transparent, white, white);
	opacity: .6;
}

.modalMenuHeader{
	margin: 35 0 0 0;
}
.modalMenuHeader p{
	font-family: 'Anton' sans-serif;
	text-indent: 10px;
	font-size: 24px;
	color: rgba(255, 255, 255, 0.81);
}
.modalMenuHeader:after{
	content: '';
	position: absolute;
	margin: 4 0 0 0;
	height: 1px;
	width: 170px;
	background: white;
    background: -webkit-linear-gradient(left, #59C238, white, #59C238);
    background: -moz-linear-gradient(left, #59C238, white, #59C238);
    background: -o-linear-gradient(left, #59C238, white, #59C238);
    display: none;	
}
#modalRightPanel{
	display: inline-block;
	height: 100%;
	width: 430px
}
#modalRightPanel:before{
	content: '';
	position: absolute;
	height: 100%;
	width: 1px;
	background-color: rgba(255, 255, 255, 0.47);
	background: -webkit-linear-gradient(top, #2AB200, white, white,white, #2AB200);
	background: -moz-linear-gradient(top, #2AB200, white, white,white, #2AB200);
	background: -o-linear-gradient(top, #2AB200, white, white,white, #2AB200);
	opacity: .6;
}


/* modal right panel for add contacts */
.modalRightMasterDiv{
	position: relative;
	width: 250px;
	display: block;
	margin: -25 auto;
	left: -5%;
	top: 25%;
}
#addContactForm{
	display: none;
}
.modalRightHeader{
	position: relative;
	top: -30px;
	color: rgba(255, 255, 255, 0.46);
	font-size: 25px;
	font-family: 'Anton' sans-serif;
}
.modalRightHeader:after{
	content: '';
	display: block;
	height: 6px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.37);
	margin-top: 8;
}
.inputFieldWraper{
	display: inline-block;
	width: 250px;
}
.inputFieldTip4Cont{
	position: absolute;
	color: black;
	opacity: 1;
	left: 20px;
	margin: 25 0 0 0;
	font-size: 12px;
	z-index: -1;
}
#AddConLNameTip{
	margin-left: 130px;
}
#addConCCTip{
	margin-left: 190px;
}

#lastNameWrapper{
	margin-left: 5px;
}
#firstNameWrapper:after{
	content: '';
	position: absolute;
	height: 25px;
	width: 25px;
	margin: 18 0 0 16;
	background-image: url('../icons/user.png');
	opacity: .7;
}
#phNumberWrapper:after{
	content: '';
	position: absolute;
	height: 30px;
	width: 25px;
	margin: 15 0 0 13;
	background-image: url('../icons/phone_min.png');
	opacity: .7;
}

#countryNameWrapper{
	width: 186px;
}
#countryCodeWrapper{
	margin-left: 5px;
	width: 55px;
}
#countryCodeWrapper:after{
	content: '';
	position: absolute;
	margin: 18 0 0 19;
	height: 25px;
	width: 25px;
	background-image: url('../icons/globe_min(24X24).png');
	opacity: .7;
}

.modalInputField{
	color: rgba(95, 85, 59, 1);
	font-size: 13px;
	border: none;
	background-color: rgba(255, 255, 255, 0.66);
	height: 30px;
	width: 100%;
	margin-top: 15px;
	text-indent: 15px;
	z-index: 1;
}

.modalRightButton{
	height: 30px;
	width: 70;
	margin: 15 0 0 0;
	background-color: rgba(255, 255, 255, 0.71);
	border: none;
	border-radius: 2px;
	font-size: 14px;
	color: rgb(36, 128, 51);
	font-weight: bolder;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .05s ease-in-out; 
	-moz-transition: all .05s ease-in-out;
	-o-transition: all .05s ease-in-out;
}
.modalRightButton:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
}
.modalRightButton:active{
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-o-transform: scale(0.95);
}

#countrySuggBox{
	width: 249px;
	max-height: 115px;
}

 #addContactAnimation{
	height: 25;
	width: 124%;
	margin: 30 0 0 0;
	/*opacity: .3;*/
}
.animatedIcons{
	display: inline-block;
	height: 100%;
	width: 24px;
	width: 24px;
	background-repeat: no-repeat;
}

#addContactAnimation #user{
	opacity: .3;
	background-image: url('../icons/user.png');
}
#addContactAnimation #arrow{
	opacity: 0;
	position: relative;
	margin: 0 0 0 10;
	background-image: url('../icons/right_arrow.png');
	background-position: 0 2;
}
#addContactAnimation #phonebook{
	opacity: .3;
	float: right;
	margin: 0 15 0 0;
	width: 30px;
	background-image: url('../icons/phonebook_min.png');
}
.addContactAnimatedMsgBox{
	display: inline-block;
	position: relative;
	width: 100px;
	height: 25px;
	margin: 10 0 0 -38;
	font-size: 8px;
	word-wrap: break-word;
	color: white;
	text-align: center;
	opacity: 0;
}
#addingTextAnimatedMsgBox{
	margin: 0 0 0 28;
}
#phonebookAnimatedMsgBox{
	margin: 0 0 0 0;
	left: 32;
}

#userInfoDiv{
	margin-top: 30px;
	height: 130px;
	width: 100%;
	border: 1px solid rgba(255, 255, 255, 0.19);
	background-color: rgba(255, 255, 255, 0.09);
}
#userInfoHeader{
	position: relative;
	top: -30px;
	font-family: 'Anton' sans-serif;
	font-size: 25px;
	color: white;
	opacity: .5;
}
#userInfoHeader:after{
	content: '';
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background-color: white;
	margin-top: 8;
}

.userInfoDivMemberwrapper{
	position: relative;
	height: 25px;
	width: 210px;
	left: 20px;
	top: 20;
	margin-bottom: 5px;
}
.userInfoDivMemberIcons{
	height: 25px;
	width: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	opacity: .6;
}
#userInfoDivMemberIconsUser{
	background-image: url('../icons/user.png');
}
#userInfoDivMemberIconsPhone{
	background-image: url('../icons/phone_min.png');
	background-position: -4 -3;
}
#userInfoDivMemberIconsCountry{
	background-image: url('../icons/globe_min(24X24).png');	
}
.userInfoDivMemberText{
	position: relative;
	top: -6px;
	display: inline-block;
	width: 175px;
	height: 100%;
	margin-left: 10px;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.76);
}
#phonebookContainter{
	display: inline-block;
	height: 30px;
	width: 30px;
	background-image: url('../icons/phonebook.png');
	margin-top: 15px;
	opacity: .6;
}
#successfullTag{
	display: inline-block;
	height: 28px;
	width: 84%;
	margin-left: 10px;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.76);
	position: relative;
	top: -7px;
}
#successfullTag:after{
	content: '';
	position: absolute;
	display: inline-table;
	height: 20px;
	width: 20px;
	right: -20px;
	top: -4px;
	background-image: url('../icons/singlecheck.png');
	opacity: .7;
}


/* feedbck right panel*/
#feedbackform{
	width: 314;
	left: 0px;
}

#feedbackText{
	font-size: 13px;
	color: white;
	margin: 0 0 5 3;
}
#feedbackTextArea{
	border: none;
	outline: none;
	background-color: rgba(255, 255, 255, 0.73);
	font-family: monospace;
	color: rgba(25, 58, 17, 0.75);
	padding: 10px;
}
#feedbackSubmit{
	display: inline-block;
	height: 30px;
	width: 55px;
	background-color: rgba(255, 255, 255, 0.78);
	border-radius: 3px;
	margin: 8 0 0 1;
}
#feedbackSubmit p{
	padding: 7px;
	color: rgb(15, 99, 15);
}
#feedbackSubmit:hover{
	-webkit-transform: scale(1.03);
}
#feedbackSubmit:active{
	-webkit-transform: scale(0.95);
}

/* settings */
.comingSoonBanner{
	width: 175px;
	height: 112;
	background-image: url('../icons/comingSoonBanner.png');
	position: relative;
	top: -115px;
	left: -68px;
}

.switchWrapper{
	background-color: transparent;
}
.slider{
	background-color: transparent;
}
.slider:after{
	content: ''	;
}
.slider:before{
	content: ''	;
}

.underDevIcon{
	height: 55px;
	width: 54px;
	background-image: url('../icons/underDev.png');
	opacity: .9;
	margin: 0 auto;
	position: relative;
	top: -65px;
}
.underDevText{
	text-align: center;
	font-size: 14px;
	color: white;
	line-height: 20px;
	position: relative;
	top: -30;
}

/*edit contact*/

.searchElem {
	color: #FFFFFF;
	padding: 5px 5px;
	font-size: 11px;
	cursor: pointer;
}
.searchElem:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
#firstNameList{
	width: 250px;
/*	background-color: rgba(0, 0, 0, 0.73);
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 100px;*/
}


/*Edit contact*/
#deleteButton{
	float: right;
}
#delButtonWrapper{
	display: inline;
}
#delButtonWrapper:after{
	content: '';
	height: 45px;
	width: 1px;
	background-color: white;
	background: -webkit-linear-gradient(top, #2AB200, white, #2AB200);
	background: -moz-linear-gradient(top, #2AB200, white, #2AB200);
	background: -o-linear-gradient(top, #2AB200, white, #2AB200);
	position: absolute;
	margin: 10 0 0 16;
}
/* Edit Profile */
.rightSmallHeaders{
	color: rgba(255, 255, 255, 0.66);
	font-size: 10px;
	text-align: center;
	margin: -10 0 10 0;
}
.rightSmallHeaders:after{
	content: '';
	position: absolute;
	height: 1px;
	width: 100px;
	background-color: rgba(255, 255, 255, 0.51);
	background: -webkit-linear-gradient(left, #2AB200, white, #2AB200);
	background: -moz-linear-gradient(left, #2AB200, white, #2AB200);
	background: -o-linear-gradient(left, #2AB200, white, #2AB200);
	margin: 12 0 0 -80;
}
#profPreview{
	height: 50px;
	width: 200px;
	margin: 0 auto;
}
#profPreviewPic{
	display: inline-block;
	height: 50px;
	width: 50px;
	background-color: rgba(57, 193, 219, 0.81);
	border: 1px solid rgba(255, 255, 255, 0.63);
}
#profPreviewPic p{
	font-family: 'Sigmar One', cursive;
	color: white;
	font-size: 55px;
	position: relative;
	text-indent: -2px;
	top: 0px;
	left: 0px;
}
#profPreviewName{
	display: inline-block;
	color: #F0FFF0;
	text-indent: 15px;
	width: 136px;
	position: relative;
	top: -25px;
	left: -5px;
}
#editProfName{
	width: 190px;
}
#changeProfNameHeader{
	margin: 35 0 0 0;
}
#changeProfNameHeader:after{
	margin-left: -105px;
	width: 120px;
}
#changeNameWrapper{
	width: 263;	
}

#changeNameButton{
	position: relative;
	left: 15px;
	top: 1px;
}
#changeProfPassHeader{
	margin: 20 0 0 0;
}
#editProfPass{
	width: 190px;
}
#editProfPassRe{
	width: 190px
}
#changepassButton{
	position: relative;
	left: 208px;
	top: -67px;
}


/* Smartphones (portrait and landscape) ----------- */
@media only all and (max-aspect-ratio: 1/1) {
  #master{
    min-height:300px;
  }

  #bannerText{
    font-size: 25px;
  }

  #bannerText:after{
    width: 69px;
    height: 1px;
    top: 27px;
  }

  #bannerText span{
    font-size: 10px;
    width: 65px;
    top: 31px;
  }

  #loginform{
    margin-top: -110px;
    margin-left: -155px;
    background-color: #2aB200;
  }

  #regform{
    margin-top: -110px;
    margin-left: -170px;
    background-color: #2aB200;
  }

  #errorMsgBox{
    height: 25px;
    width: 320px;
    left: -160px;
  }

  #errorMsgBoxArrow{
    display: none;
  }
}
/* Desktops ----------- */
@media all and (min-aspect-ratio: 1/1) {
  #master{
    min-height:500px;
  }

  #bannerText{
    font-size: 35px;
  }

  #bannerText:after{
    width: 100px;
    height: 1px;
    top: 36px;
  }

  #bannerText span{
    font-size: 12px;
    width: 100px;
    top: 39px;
  }

  #loginform{
    margin-top: -87px;
    margin-left: -415px;
  }

  #regform{
    margin-top: -115px;
    margin-left: 94px;
  }

  #errorMsgBox{
    height: 70px;
    width: 250px;
    left: -125px;
  }

  #errorMsgBoxArrow{
    display: inline-block;
  }

}
/* Desktops ----------- */
@media all and (min-aspect-ratio: 1/1) {
  #leftpannel {
    width: 240px;
  }

  #rightpannel {
      margin-left: 240px;
  }

  #puller-btn, #pusher-btn {
    visibility: hidden;
  }

   #contactSearchbar {
    height: 25px;
    width: 195px;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media only all and (max-aspect-ratio: 1/1) {
  #leftpannel{
    width: 0%;
    float: left;
  }

  #rightpannel {
      margin-left: 0px;
      float: right;
  }

  #contactSearchTip, #contactSearchbar {
    width: 95%;
    height: 100%;
  }
}
@media all and (min-resolution: 100dpi) {
  #contactSearchTip, #contactSearchbar {
    font-size: 160%;
    width: 95%;
    height: 100%;
  }

  #loginform, #sendbutton, #regform, #bannerText, #icons, #searchIcon{
    zoom: 1.4;
    -ms-zoom: 1.4;
    -webkit-zoom: 1.4;
    -moz-transform:  scale(1.4, 1.4);
  }

  #mother_div{
    font-size: 160%;
  }

  #typemsg{
    font-size: 160%;
    height: 70px;
  }

  #createmsgbar{
    height: 70px;
    margin-top: -70px;
  }

  #puller-btn, #pusher-btn{
    width: 60px;
    height: 60px;
    background-size:100%;
  }

  .contact span{
    font-size: 160%;
    max-width: 240px;
    height: 30px;
    margin-top: 11px;
  }

  .contact{
    height: 50px;
  }

  .contact #contactImage{
    height: 50px;
    width: 50px;
  }

  .contact #contactImage p {
    font-size: 50px;
  }

  #contactSearchTip {
    left: 1%;
    visibility: hidden;
  }
}
@media all and (max-device-width: 545px) {
  #copyright{
    visibility: hidden;
  }
}
