@media all and (min-resolution: 100dpi) {
  #loginform{
    zoom: 1.4;
    -ms-zoom: 1.4;
    -webkit-zoom: 1.4;
    -moz-transform:  scale(1.4, 1.4);
  }

  #regform{
    zoom: 1.4;
    -ms-zoom: 1.4;
    -webkit-zoom: 1.4;
    -moz-transform:  scale(1.4, 1.4);
  }

  #bannerText{
    zoom: 1.6;
    -ms-zoom: 1.6;
    -webkit-zoom: 1.6;
    -moz-transform:  scale(1.6, 1.6);
  }

  #mother_div{
    zoom: 1.6;
    -ms-zoom: 1.6;
    -webkit-zoom: 1.6;
    -moz-transform:  scale(1.6, 1.6);
  }

  #createmsgbar{
    zoom: 1.6;
    -ms-zoom: 1.6;
    -webkit-zoom: 1.6;
    -moz-transform:  scale(1.6, 1.6);
  }

  #msgcontainer{
    margin-bottom: -80px;
  }

  #puller-btn{
    #createmsgbar{
    zoom: 1.6;
    -ms-zoom: 1.6;
    -webkit-zoom: 1.6;
    -moz-transform:  scale(1.6, 1.6);
  }
}
