@media all and (min-resolution: 100dpi) {
  #loginform{
    zoom: 1.4;
    -ms-zoom: 1.4;
    -webkit-zoom: 1.4;
    -moz-transform:  scale(1.4, 1.4);
  }

  #regform{
    zoom: 1.4;
    -ms-zoom: 1.4;
    -webkit-zoom: 1.4;
    -moz-transform:  scale(1.4, 1.4);
  }

  #bannerText{
    zoom: 1.6;
    -ms-zoom: 1.6;
    -webkit-zoom: 1.6;
    -moz-transform:  scale(1.6, 1.6);
  }

  #mother_div{
    font-size: 160%;
  }

  #typemsg{
    font-size: 160%;
    height: 70px;
  }

  #createmsgbar{
    height: 70px;
    margin-top: -70px;
  }

  #puller-btn, #pusher-btn{
    width: 60px;
    height: 60px;
    background-size:100%;
  }

  .contact span{
    font-size: 160%;
    max-width: 240px;
    height: 30px;
    margin-top: 11px;
  }

  .contact{
    height: 50px;
  }

  .contact #contactImage{
    height: 50px;
    width: 50px;
  }

  .contact #contactImage p {
    font-size: 50px;
  }
}