@media all and (max-resolution: 100dpi) and (max-width: 350px) {
/*  #contactSearchTip, #contactSearchbar {
    font-size: 160%;
    width: 95%;
    height: 100%;
  }
*/
  #loginform, #sendbutton, #regform, #bannerText, #icons, #searchIcon, #loginbutton{
    zoom: 0.7;
    -ms-zoom: 0.7;
    -webkit-zoom: 0.7;
    -moz-transform:  scale(0.7, 0.7);
  }
/*
  #mother_div{
    font-size: 160%;
  }

  #typemsg{
    font-size: 160%;
    height: 70px;
  }

  #createmsgbar{
    height: 70px;
    margin-top: -70px;
  }

  #puller-btn, #pusher-btn{
    width: 60px;
    height: 60px;
    background-size:100%;
  }

  .contact span{
    font-size: 160%;
    max-width: 240px;
    height: 30px;
    margin-top: 11px;
  }

  .contact{
    height: 50px;
  }

  .contact #contactImage{
    height: 50px;
    width: 50px;
  }

  .contact #contactImage p {
    font-size: 50px;
  }

  #contactSearchTip {
    left: 1%;
    visibility: hidden;
  }*/
}