#modal{
	position: absolute;
	display: block;
	background-color: rgba(42, 178, 0, 1);
	top: 50%;
	left: 50%;
	margin: -200px 0px 0px -300px;
	border: 1px solid rgba(255, 255, 255, 0.36);
	box-shadow: 0 0 23px rgba(255, 255, 255, 0.12);
	visibility: hidden;
	z-index: 101;
}
#modalCloseButton{
	background-image: url('../icons/cross.png');
	background-repeat: no-repeat;
	background-position: 4 4;
	border: 2px solid transparent;
	height: 20;
	width: 20;
	position: absolute;
	right: 8px;
	top: 8px;
}

#modalCloseButton:hover{
	background-color: rgba(255, 255, 255, 0.18);
	border: 2px solid rgba(255, 255, 255, 0.35);
	border-radius: 12px;
}
#modalMenuBar{
	float: left;
	width: 170px;
	height: 100%;
	background-color: #59C238;
	color: white;
}
.modalMenuItem{
	position: relative;
	top: 20px;
	width: 100%;
	height: 40px;
}

.modalMenuItem p{
	padding: 13;
	text-indent: 15;
}
.modalMenuItem:hover {
	background-color: #2AB200;
	z-index: 1;
	width: 101%;
}
.selectedModalMenuItem{
	background-color: #2AB200;
	z-index: 1;
	width: 101%;
}
.selectedModalMenuItem:before{
	content: '';
	position: absolute;
	width: 99%;
	height: 1px;
	background-color: white;
	background: -webkit-linear-gradient(left, transparent, white, white);
	background: -moz-linear-gradient(left, transparent, white, white);
	background: -o-linear-gradient(left, transparent, white, white);
	opacity: .6;

}
.selectedModalMenuItem:after{
	content: '';
	position: absolute;
	margin: -3 0 0 0;
	width: 99%;
	height: 1px;
	background-color: white;
	background: -webkit-linear-gradient(left, transparent, white, white);
	background: -moz-linear-gradient(left, transparent, white, white);
	background: -o-linear-gradient(left, transparent, white, white);
	opacity: .6;
}

.modalMenuHeader{
	margin: 35 0 0 0;
}
.modalMenuHeader p{
	font-family: 'Anton' sans-serif;
	text-indent: 10px;
	font-size: 24px;
	color: rgba(255, 255, 255, 0.81);
}
.modalMenuHeader:after{
	content: '';
	position: absolute;
	margin: 4 0 0 0;
	height: 1px;
	width: 170px;
	background: white;
    background: -webkit-linear-gradient(left, #59C238, white, #59C238);
    background: -moz-linear-gradient(left, #59C238, white, #59C238);
    background: -o-linear-gradient(left, #59C238, white, #59C238);
    display: none;	
}
#modalRightPanel{
	display: inline-block;
	height: 100%;
	width: 430px
}
#modalRightPanel:before{
	content: '';
	position: absolute;
	height: 100%;
	width: 1px;
	background-color: rgba(255, 255, 255, 0.47);
	background: -webkit-linear-gradient(top, #2AB200, white, white,white, #2AB200);
	background: -moz-linear-gradient(top, #2AB200, white, white,white, #2AB200);
	background: -o-linear-gradient(top, #2AB200, white, white,white, #2AB200);
	opacity: .6;
}


/* modal right panel for add contacts */
.modalRightMasterDiv{
	position: relative;
	width: 250px;
	display: block;
	margin: -25 auto;
	left: -5%;
	top: 25%;
}
#addContactForm{
	display: none;
}
.modalRightHeader{
	position: relative;
	top: -30px;
	color: rgba(255, 255, 255, 0.46);
	font-size: 25px;
	font-family: 'Anton' sans-serif;
}
.modalRightHeader:after{
	content: '';
	display: block;
	height: 6px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.37);
	margin-top: 8;
}
.inputFieldWraper{
	display: inline-block;
	width: 250px;
}
.inputFieldTip4Cont{
	position: absolute;
	color: black;
	opacity: 1;
	left: 20px;
	margin: 25 0 0 0;
	font-size: 12px;
	z-index: -1;
}
#AddConLNameTip{
	margin-left: 130px;
}
#addConCCTip{
	margin-left: 190px;
}

#lastNameWrapper{
	margin-left: 5px;
}
#firstNameWrapper:after{
	content: '';
	position: absolute;
	height: 25px;
	width: 25px;
	margin: 18 0 0 16;
	background-image: url('../icons/user.png');
	opacity: .7;
}
#phNumberWrapper:after{
	content: '';
	position: absolute;
	height: 30px;
	width: 25px;
	margin: 15 0 0 13;
	background-image: url('../icons/phone_min.png');
	opacity: .7;
}

#countryNameWrapper{
	width: 186px;
}
#countryCodeWrapper{
	margin-left: 5px;
	width: 55px;
}
#countryCodeWrapper:after{
	content: '';
	position: absolute;
	margin: 18 0 0 19;
	height: 25px;
	width: 25px;
	background-image: url('../icons/globe_min(24X24).png');
	opacity: .7;
}

.modalInputField{
	color: rgba(95, 85, 59, 1);
	font-size: 13px;
	border: none;
	background-color: rgba(255, 255, 255, 0.66);
	height: 30px;
	width: 100%;
	margin-top: 15px;
	text-indent: 15px;
	z-index: 1;
}

.modalRightButton{
	height: 30px;
	width: 70;
	margin: 15 0 0 0;
	background-color: rgba(255, 255, 255, 0.71);
	border: none;
	border-radius: 2px;
	font-size: 14px;
	color: rgb(36, 128, 51);
	font-weight: bolder;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .05s ease-in-out; 
	-moz-transition: all .05s ease-in-out;
	-o-transition: all .05s ease-in-out;
}
.modalRightButton:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
}
.modalRightButton:active{
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-o-transform: scale(0.95);
}

#countrySuggBox{
	width: 249px;
	max-height: 115px;
}

 #addContactAnimation{
	height: 25;
	width: 124%;
	margin: 30 0 0 0;
	/*opacity: .3;*/
}
.animatedIcons{
	display: inline-block;
	height: 100%;
	width: 24px;
	width: 24px;
	background-repeat: no-repeat;
}

#addContactAnimation #user{
	opacity: .3;
	background-image: url('../icons/user.png');
}
#addContactAnimation #arrow{
	opacity: 0;
	position: relative;
	margin: 0 0 0 10;
	background-image: url('../icons/right_arrow.png');
	background-position: 0 2;
}
#addContactAnimation #phonebook{
	opacity: .3;
	float: right;
	margin: 0 15 0 0;
	width: 30px;
	background-image: url('../icons/phonebook_min.png');
}
.addContactAnimatedMsgBox{
	display: inline-block;
	position: relative;
	width: 100px;
	height: 25px;
	margin: 10 0 0 -38;
	font-size: 8px;
	word-wrap: break-word;
	color: white;
	text-align: center;
	opacity: 0;
}
#addingTextAnimatedMsgBox{
	margin: 0 0 0 28;
}
#phonebookAnimatedMsgBox{
	margin: 0 0 0 0;
	left: 32;
}

#userInfoDiv{
	margin-top: 30px;
	height: 130px;
	width: 100%;
	border: 1px solid rgba(255, 255, 255, 0.19);
	background-color: rgba(255, 255, 255, 0.09);
}
#userInfoHeader{
	position: relative;
	top: -30px;
	font-family: 'Anton' sans-serif;
	font-size: 25px;
	color: white;
	opacity: .5;
}
#userInfoHeader:after{
	content: '';
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background-color: white;
	margin-top: 8;
}

.userInfoDivMemberwrapper{
	position: relative;
	height: 25px;
	width: 210px;
	left: 20px;
	top: 20;
	margin-bottom: 5px;
}
.userInfoDivMemberIcons{
	height: 25px;
	width: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	opacity: .6;
}
#userInfoDivMemberIconsUser{
	background-image: url('../icons/user.png');
}
#userInfoDivMemberIconsPhone{
	background-image: url('../icons/phone_min.png');
	background-position: -4 -3;
}
#userInfoDivMemberIconsCountry{
	background-image: url('../icons/globe_min(24X24).png');	
}
.userInfoDivMemberText{
	position: relative;
	top: -6px;
	display: inline-block;
	width: 175px;
	height: 100%;
	margin-left: 10px;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.76);
}
#phonebookContainter{
	display: inline-block;
	height: 30px;
	width: 30px;
	background-image: url('../icons/phonebook.png');
	margin-top: 15px;
	opacity: .6;
}
#successfullTag{
	display: inline-block;
	height: 28px;
	width: 84%;
	margin-left: 10px;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.76);
	position: relative;
	top: -7px;
}
#successfullTag:after{
	content: '';
	position: absolute;
	display: inline-table;
	height: 20px;
	width: 20px;
	right: -20px;
	top: -4px;
	background-image: url('../icons/singlecheck.png');
	opacity: .7;
}


/* feedbck right panel*/
#feedbackform{
	width: 314;
	left: 0px;
}

#feedbackText{
	font-size: 13px;
	color: white;
	margin: 0 0 5 3;
}
#feedbackTextArea{
	border: none;
	outline: none;
	background-color: rgba(255, 255, 255, 0.73);
	font-family: monospace;
	color: rgba(25, 58, 17, 0.75);
	padding: 10px;
}
#feedbackSubmit{
	display: inline-block;
	height: 30px;
	width: 55px;
	background-color: rgba(255, 255, 255, 0.78);
	border-radius: 3px;
	margin: 8 0 0 1;
}
#feedbackSubmit p{
	padding: 7px;
	color: rgb(15, 99, 15);
}
#feedbackSubmit:hover{
	-webkit-transform: scale(1.03);
}
#feedbackSubmit:active{
	-webkit-transform: scale(0.95);
}

/* settings */
.comingSoonBanner{
	width: 175px;
	height: 112;
	background-image: url('../icons/comingSoonBanner.png');
	position: relative;
	top: -115px;
	left: -68px;
}

.switchWrapper{
	background-color: transparent;
}
.slider{
	background-color: transparent;
}
.slider:after{
	content: ''	;
}
.slider:before{
	content: ''	;
}

.underDevIcon{
	height: 55px;
	width: 54px;
	background-image: url('../icons/underDev.png');
	opacity: .9;
	margin: 0 auto;
	position: relative;
	top: -65px;
}
.underDevText{
	text-align: center;
	font-size: 14px;
	color: white;
	line-height: 20px;
	position: relative;
	top: -30;
}

/*edit contact*/

.searchElem {
	color: #FFFFFF;
	padding: 5px 5px;
	font-size: 11px;
	cursor: pointer;
}
.searchElem:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
#firstNameList{
	width: 250px;
/*	background-color: rgba(0, 0, 0, 0.73);
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 100px;*/
}


/*Edit contact*/
#deleteButton{
	float: right;
}
#delButtonWrapper{
	display: inline;
}
#delButtonWrapper:after{
	content: '';
	height: 45px;
	width: 1px;
	background-color: white;
	background: -webkit-linear-gradient(top, #2AB200, white, #2AB200);
	background: -moz-linear-gradient(top, #2AB200, white, #2AB200);
	background: -o-linear-gradient(top, #2AB200, white, #2AB200);
	position: absolute;
	margin: 10 0 0 16;
}
/* Edit Profile */
.rightSmallHeaders{
	color: rgba(255, 255, 255, 0.66);
	font-size: 10px;
	text-align: center;
	margin: -10 0 10 0;
}
.rightSmallHeaders:after{
	content: '';
	position: absolute;
	height: 1px;
	width: 100px;
	background-color: rgba(255, 255, 255, 0.51);
	background: -webkit-linear-gradient(left, #2AB200, white, #2AB200);
	background: -moz-linear-gradient(left, #2AB200, white, #2AB200);
	background: -o-linear-gradient(left, #2AB200, white, #2AB200);
	margin: 12 0 0 -80;
}
#profPreview{
	height: 50px;
	width: 200px;
	margin: 0 auto;
}
#profPreviewPic{
	display: inline-block;
	height: 50px;
	width: 50px;
	background-color: rgba(57, 193, 219, 0.81);
	border: 1px solid rgba(255, 255, 255, 0.63);
}
#profPreviewPic p{
	font-family: 'Sigmar One', cursive;
	color: white;
	font-size: 55px;
	position: relative;
	text-indent: -2px;
	top: 0px;
	left: 0px;
}
#profPreviewName{
	display: inline-block;
	color: #F0FFF0;
	text-indent: 15px;
	width: 136px;
	position: relative;
	top: -25px;
	left: -5px;
}
#editProfName{
	width: 190px;
}
#changeProfNameHeader{
	margin: 35 0 0 0;
}
#changeProfNameHeader:after{
	margin-left: -105px;
	width: 120px;
}
#changeNameWrapper{
	width: 263;	
}

#changeNameButton{
	position: relative;
	left: 15px;
	top: 1px;
}
#changeProfPassHeader{
	margin: 20 0 0 0;
}
#editProfPass{
	width: 190px;
}
#editProfPassRe{
	width: 190px
}
#changepassButton{
	position: relative;
	left: 208px;
	top: -67px;
}

